.App {
  text-align: center;
background-color: rgb(232, 192, 212);

}

.btn{
  width: 100px;
  height: 30px; 
  margin-top: 25px;
  margin-right: 67em;
  border-radius: 1em;
  color: rgb(238, 210, 184);
  background-color: rgb(151, 218, 180);
}

.btn:hover {
  background-color: rgb(56, 87, 56);
}